body {
    background-color: rgb(112, 230, 230);
}

.main-container {
    position: relative;
    width: 800px;
    height: 800px;
    border: 2px solid #fff;
    margin: 0 auto;
}

.box {
    position: absolute;
    height: 200px;
    width: 200px;
    background-color: rgb(191, 134, 238);
    animation-name: run;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes run {
    0% {left: 0; top: 0; border-radius: 0; background-color: rgb(233, 118, 233);}
    25% {left: 75%; top:0; border-radius: 20%; background-color: darkorange}
    50% {left: 75%; top: 75%; border-radius: 30%; background-color: darkturquoise;}
    75% {left: 0; top: 75%; border-radius: 50%; background-color: fuchsia;}
    100% {left: 0; top: 0; border-radius: 60%; background-color: hotpink;}
}